
<!-- @for(setting of settings(); track $index) {
  <h1>{{ setting.Name }}</h1>
  <h1>{{ $index + 1 }}</h1>

} @empty {
  <h1>Data not found!</h1>
}

@if (setting.Name == 'k1') {
  <div>This is k1</div>
} @else if(setting.Name == 'k2') {
  <div>This is k2</div>
} @else {
  <div>Others</div>
}

@switch (setting.Name) {
  @case ('k1') {
    <div>k1</div>
  } @case ('k2') {
    <div>k2</div>
  }

}

@defer () {
  <div>defer</div>
}

@loading(after 15ms; minimum 150ms) {
  <div>loading...</div>
}

@placeholder {
  <div>placeholder</div>
}

@error {
  <div>Error</div>
} -->


<router-outlet></router-outlet>
